# Introduction to Python Lab

#### this is just an introduction to the basic of python programming language

### Variables and it's type

In [1]:
x = 4

In [2]:
type(x)

int

In [3]:
x = 4.5
print(type(x))

<class 'float'>

In [4]:
print(x)

4.5

In [5]:
s = "python"
type(s)

str

In [6]:
a = '2'
type(a)

str

### Casting

In [7]:
#casting
int(a)
type(int(a))

int

### Take input from user

In [8]:
name = input('What is your name ? ')
print('your name is .. ', name)

What is your name ? Salma
your name is ..  Salma

### Arithmetic Operations

In [9]:
x = 5
y = 2
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x ** 2)
print(x % y)

7
3
10
2.5
2
25
1

### if condition

In [10]:
x = 5
y = 5
if x > y :
    print('x is greater than y')
elif y > x: # else if
    print('y is greater than x')
else:
    print('x and y are equal')

x and y are equal

### String operations

In [11]:
s1 = 'ython'
s2 = 'CS512'

In [12]:
s3 = s2 + s1
print(s3)

CS512ython

In [13]:
print(s2 + s1)

CS512ython

In [14]:
print(s2 * 4)

CS512CS512CS512CS512

In [15]:
print(int(a) * 3)

6

### Loops

In [16]:
xx = 10
while xx > 0:
    print(xx)
    xx = xx - 1

10
9
8
7
6
5
4
3
2
1

In [17]:
for i in range(5,20):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

### List

In [18]:
l1 = [2, 3.5, 'abc', [1, 2, 3]]

In [19]:
len(l1)

4

In [20]:
l1[2]

'abc'

In [21]:
l1[2] = 5

In [22]:
l1

[2, 3.5, 5, [1, 2, 3]]

In [23]:
l1[-2]

5

In [24]:
l1[1:3]

[3.5, 5]

In [25]:
l1[3][0]

1

In [26]:
l1[1:]

[3.5, 5, [1, 2, 3]]

In [27]:
l1[:-1]

[2, 3.5, 5]

In [28]:
l1

[2, 3.5, 5, [1, 2, 3]]

In [29]:
l1.append(4)

In [30]:
l1

[2, 3.5, 5, [1, 2, 3], 4]

In [31]:
l1[2:4]

[5, [1, 2, 3]]

In [32]:
l = [0, 1, 2, 3, 4, 5, 6]

In [33]:
l[2:4]

[2, 3]

In [34]:
min(l)

0

In [35]:
max(l)

6

In [36]:
l1 = [4, 3, 7, 1, 9, 2]

In [37]:
l1.sort()

In [38]:
l1

[1, 2, 3, 4, 7, 9]

In [39]:
for elm in l1:
    print(elm)

1
2
3
4
7
9

### Tuples

In [40]:
t = (1, 2, 'ab')

In [41]:
type(t)

tuple

In [42]:
t[0]

1

In [43]:
t[0] = 3

TypeError: 'tuple' object does not support item assignment

In [75]:
x, y, z = t #unpack

In [45]:
t

(1, 2, 'ab')

In [46]:
t1 = (t)

In [47]:
t1

(1, 2, 'ab')

In [48]:
t2 = (t1)

In [49]:
t2

(1, 2, 'ab')

In [50]:
t2 = (1, (3, 4))

In [51]:
t2

(1, (3, 4))

In [52]:
t3 = (1, [1,3,4])

In [53]:
t3

(1, [1, 3, 4])

In [54]:
type(t3)

tuple

In [55]:
x, y = t3

In [56]:
x

1

In [57]:
y

[1, 3, 4]

In [58]:
t3[1][0] = 5

In [59]:
t3

(1, [5, 3, 4])

### Dictionary

In [60]:
d = {}

In [61]:
type(d)

dict

In [62]:
d['year'] = 2018

In [63]:
d

{'year': 2018}

In [64]:
d2 = {'name': 'Salma', 'year': 2018}

In [65]:
d2

{'name': 'Salma', 'year': 2018}

In [66]:
for x in d2:
    print(x, d2[x])

name Salma
year 2018

In [67]:
len(d2)

2

In [68]:
del d2['year']

In [69]:
d2

{'name': 'Salma'}

In [70]:
d2.keys()

dict_keys(['name'])

In [71]:
'major' in d2

False

In [72]:
'name' in d2

True

### functions

In [73]:
def fact(n):
    if not isinstance(n, int):
        print("Error: Float")
        return None
    elif n < 0:
        print("Error: negative number")
        return None
    elif n == 0:
        return 1
    else:
        return n * fact(n-1)

In [74]:
fact(5.5)

Error: Float